.text-bg-blue{
    color: #FFFFFF !important;
    background-color: #617df9 !important;
}
.text-bg-gray{
    color: #FFFFFF !important;
    background-color: gray !important;
}

.div_left{
    margin-left: auto;
}

.o_kanban_dashboard.o_hr_department_kanban {
    .o_kanban_renderer {
        &.o_kanban_ungrouped .o_kanban_record {
            width: 400px;
            &:not(.o_kanban_ghost) {
                min-height: 220px;
            }
        }

        .text_top_padding{
            padding-top: 0.375rem;
        }

        .o_primary {
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            padding-right: 24px !important;

            .fa {
                margin-left: 0;
            }
        }

        .o_job_activities {
            list-style-type: none;
        }

        .o_kanban_card_header_title {
            min-height: 3rem;

            .o_field_boolean_favorite {
                display: inline;
            }
        }

        .fw-normal{
            font-weight: normal !important;
        }
    }
}

.o_kanban_view {
    .o_view_sample_data .ribbon {
        display: none;
    }
}
